.random-wrapper__div {
    height: 80%;
    padding-top: 20px
}

.random-wrapper__div h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    width: 200px;
    height: 50px;
    top: 20px;
    right: 20px;
}

.random-main__main h2 {
    padding: 2% 0;
}


.random-main__main {
    height: 80%;
    display: flex;
}

.random-main__main > section {
    flex: 1 1 0;
    /*height: 80%; */
    padding: 2%;
    background-color: aqua;
}

.random-main__main section > div {
    overflow: hidden;
}

.random-places__section > ul {
    list-style-type: square;
    margin-bottom: 4%;
}

.random-places__section a {
    text-decoration: none;
}


.random-characteristics__div > h2{
    font-size: 1.2rem;
}

.random-info__section > div{
    margin: 10px 0;
}

.random-info__section p {
    word-wrap: break-word;
    max-height: calc(10 * 1rem);
    line-height: 1rem;
    text-overflow: ellipsis;
}


/*
.history {
    height: 50%;
}

    */