@{
    ViewBag.Title = "Home Page";
}

<div class="home-wrapper__div">
    <div class="home-title__div">
        <h1>Adventurer</h1>
        <h2>Choose the best destination for you!</h2>
    </div>
    <div class="home-central__div">
        <main class="home-main__main">

        </main>
        <aside class="home-destinations__aside">
        </aside>
    </div>
</div>
